@font-face {
  font-family: "Blackout";
  src: url("../assets/fonts/Blackout-2am.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  position: relative;
  z-index: 10;
  height: 7.5rem;
  font-family: "Blackout", sans-serif;
  margin: 0;
  /* margin-top: 40%; */
  font-size: 10rem;
  color: #f9f6f1;
  border: 30px solid black;
  border-radius: 10px;
}

h2#homepage {
  align-self: flex-start;
  font-size: 3rem;
  margin: 0 3rem;
}

span {
  font-weight: 900;
}

img#homepage {
  position: absolute;
  z-index: 0;
  height: auto;
  width: 60vw;
  border: 4px solid black;
  border-radius: 20px;
}

footer {
  position: fixed;
  bottom: 0;
}

@media (min-width: 1140px) and (max-width: 1775px) {
  h1 {
    margin-top: 38%;
    height: 4.5rem;
    font-size: 6rem;
  }
}
@media (min-width: 961px) and (max-width: 1139px) {
  h1 {
    margin-top: 33%;
    height: 3.5rem;
    font-size: 5rem;
  }

  img#homepage {
    margin-top: -5%;
    width: 65vw;
  }

  h2#homepage {
    width: fit-content;
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  h1 {
    margin-top: 37%;
    height: 2.8rem;
    font-size: 3.8rem;
    border: 15px solid black;
  }

  h2#homepage {
    /* margin-top: 2rem; */
    font-size: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    margin-top: -30rem;
    height: 3rem;
    font-size: 3.5rem;
    border: none;
    color: black;
  }

  img#homepage {
    width: 80vw;
  }

  h2#homepage {
    margin: 0;
    /* margin-top: 12rem; */
    font-size: 2rem;
    width: 25rem;
  }
}
