.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.large-image-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-image {
  max-width: 100%;
  max-height: 100%;
}

.thumbnails-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  overflow-x: auto;
  max-height: 32rem;
}

.thumbnail {
  max-width: 17vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

@media (min-width: 961px) and (max-width: 1139px) {
  .container {
    flex-direction: column;
  }

  .large-image-container {
    margin-top: 2rem;
  }

  .thumbnails-container {
    margin-top: 2rem;
    height: fit-content;
    width: fit-content;
    overflow: visible;
  }
  .thumbnail {
    max-width: 40vw;
    height: auto;
    margin-bottom: 16px;
    border-radius: 16px;
    border: 2px solid black;
  }
}