aside {
    margin: 4rem 2rem 0 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;    
}

a {
    background-color: grey;
    padding: 0.5rem;
    font: "Roboto", sans-serif;
    color: white;
}