.video_thumbnails-outer {
  width: 50vw;
  height: auto;
  overflow: scroll;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.video_thumbnails-inner {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 1rem;
  background-color: #556C88;
  border: 2px solid #535353;
  border-radius: 20px;
  overflow: scroll;
}

.video_thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
